
[Unit]
Description=xnor-eye
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/xnor-eye
ExecStart=/usr/bin/python3 xnor-eye.py
Restart=always

[Install]
WantedBy=multi-user.target
