<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>xnor-eye</title>
	<style type="text/css">
		body {
			background: #333;
		}
		div#result {
			background:
				url(data:image/jpeg;base64,{{imagedata}})
				no-repeat
				left top;
			color: #fff;
			font-size: 100px;
			width: {{width}}px;
			height: {{height}}px;
			text-align: center;
		}
	</style>
<body>
	<div id="result">
		{{labels}}
	</div>
</body>
</html>